@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .primary-gradient {
    @apply bg-gradient-to-r from-indigo-500 to-blue-800;
  }
  .inessential-gradient {
    @apply opacity-70 bg-zinc-300;
  }

  .bg-gradiant-primary {
    background: radial-gradient(
        813.54% 150.15% at 101.94% 50.65%,
        rgba(100, 26, 175, 0.2) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      #0a1a2b;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
  }

  .bg-gradiant-secondaary {
    background: radial-gradient(
        300.32% 66.57% at 2.99% 46.59%,
        rgba(47, 44, 203, 0.2) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      radial-gradient(
        298.37% 68.95% at 63.97% 50.2%,
        rgba(100, 26, 175, 0.2) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      linear-gradient(270deg, #0a1a2a 35.58%, rgba(10, 26, 42, 0) 100%);
  }

  .game-card {
    border-radius: 0px 0px 10px 10px;
    background: rgba(0, 0, 0, 0.19);
    backdrop-filter: blur(0.949999988079071px);
  }

  .game-cardt {
    border-radius: 10px;
    background: linear-gradient(0deg, #000 -5.48%, rgba(0, 0, 0, 0) 100%);
    box-shadow:
      0px 4px 4px 0px rgba(0, 0, 0, 0.25),
      0px 0px 5px 0px rgba(151, 130, 120, 0.58) inset;
  }

  .one-more {
    background: radial-gradient(
        216.16% 191.25% at 7.53% 50%,
        rgba(100, 26, 175, 0.2) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      #0a1a2b;
  }
}
