@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100dvh;
  overflow-x: auto;
}

@layer utilities {
  .primary-gradient {
    background: linear-gradient(90deg, #5653ff 0%, #153abd 100%);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.7);
  }

  .inessential-gradient {
    opacity: 0.7;
    background: #d8d8d8;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.7);
  }
}
